.LogoPadrao {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-family: Cooper Black;
  gap: 8px;
}

.LogoPadrao img {
  background: radial-gradient(50% 50.00% at 50% 50.00%, #FBEB60 0%, rgba(255, 255, 255, 0.00) 100%);
  width: 24px;
  height: 24px;
}