header {
  position: absolute;
  width: 100%;
  height: 104px;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Topo {
  background: #0F1111;
  height: 64px;
}

.Navegacao {
  background: #232F3E;
  height: 40px;
}