body {
  max-width: 1280px;
	margin: 0 auto;
}

header {
  width: 100%;
  height: 104px;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Topo {
  background: #0F1111;
  height: 64px;
}

.Navegacao {
  background: #232F3E;
  height: 40px;
}

main {
  display: flex;
  top: 104px;
  height: 768px;
  flex-direction: column;
  background: #E8E8E8;
  color: #fff
}

footer {
  top: 1300px;
  height: 160px;
}