<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/login.css">
    
    <title>Login</title>
</head>

<body>

    <section class="login">
            <h1>Login</h1>
            <input type="text" id="usuario" placeholder="Usuário" required="required" autocomplete="off"/>
            <input type="password" id="senha" placeholder="Senha" required="required" autocomplete="off"/>
            <button autocomplete="off" class = "entraBtn" onclick="verificar_login()">Entrar</button>
            <button class = "saiBtn" onclick="logout()">Sair</button>
    </section>

    <script src="../static/javascript/login.js"></script>
</body>

</html>